
/* Modifies the layout on lesson pages produced by the markdown generator */

pre
{
	margin-top: 8px;
	background-color: rgba(0,0,0,0);
	border: none;
}


.container
{
	text-align: center;
}
.container img
{
	border: 1px solid white;
	max-width: 75%;
	margin: 16px;
}

p
{

	padding-left: 10%;
	padding-right: 10%;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}

pre
{
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
}

code
{
	margin-right: 2px;
}

/* derived from GitHub Markdown CSS (MIT) */

table {
  margin: 0 auto;
  padding: 0;
}
table tr {
  border-top: 1px solid rgba(255,255,255,0.125);
  background-color: rgba(0,0,0,0.15);
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: rgba(0,0,0,0.25);
}

table tr th {
  font-weight: bold;
  border: 1px solid rgba(255,255,255,0.125);
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid rgba(255,255,255,0.125);
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr th :first-child, table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
  margin-bottom: 0;
}